<!DOCTYPE html>
<html>
  <head>
    <title>Pitchupp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield(:cameratag_head) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="index,follow" name="robots" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
    <%= csrf_meta_tags %>
  </head>
  <% unless user_signed_in? %>
    <body class="hold-transition <%= body_class(params[:controller]) %>">
      <%= yield %>
    </body>
  <% else %>
    <body class="<%= body_class(yield(:body_class))  %>"></body>
      <div class="wrapper">
        <%= render partial: "layouts/header" %>
        <%= render partial: "layouts/sidebar" %>
        <div class="content-wrapper">
          <%= yield %>
        </div>
      </div>
    </html>
  <% end %>
</html>
